{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <main>
      <form action="/addEvent" method="post">
        <label for="name">Event Name</label>
        <input type="text" name="event_name" placeholder="Homecoming">
      <br>
        <label for="date">Date</label>
        <input type="date" name="event_date" placeholder="dd/mm/yyyy">
      <br>
        <label for="">description</label>
        <input type="text" name="event_description" placeholder="something dreamy">
      <br>
        <label for="max_tickets">Tickets Available</label>
        <input type="text" name="max_tickets" placeholder="millions">
      <br>
        <label for="address">Address</label>
        <input type="address" name="event_address" placeholder="123 Main St.">
      <br>
        <label for="city_state_zip">City, State, Zip</label>
      <br>
        <textarea name="city_state_zip" rows="2" cols="40">Denver, CO, 80203</textarea>
      <br>
          <button type="submit">GO</button>
      </form>
    </main>

  </div>

{% endblock %}
