{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<section>
  <div class="margin-top">
    {% for message in messages %}
      <div class="alert alert-{{ message.status }}">
        {{ message.value }}
      </div>
    {% endfor %}
  </div>

  <div class="container">
    <form method="POST" action="/admin/{{ user.school_id }}/addteachers" class="form-horizontal">
      <div class="row">
        <h3>Personal Info</h3>
        <div class="col-lg-4">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required/>
        </div>
        <div class="col-lg-4">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required/>
        </div>
        <div class="col-lg-4">
          <label for="teacher_id">Teacher ID</label>
          <input type="text" class="form-control" name="teacher_id" id="teacher_id" placeholder="Teacher ID" required/>
        </div>
      </div>
      <div class="row">
        <h3>Create Account</h3>
        <div class="col-lg-4">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required/>
        </div>
        <div class="col-lg-4">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required/>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-4">
          <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
