{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<section>
  {% for message in messages %}
    <div class="alert alert-{{ message.status }}">
      {{ message.value }}
    </div>
  {% endfor %}

  <div class="container">
    <form method="POST" action="/admin/{{ user.school_id }}/addteachers">
      <input type="text" name="first_name" placeholder="First Name" />
      <input type="text" name="last_name" placeholder="Last Name" />
      <input type="text" name="teacher_id" placeholder="Teacher ID" />
      <input type="text" name="email" placeholder="Email Address" />
      <input type="password" name="password" placeholder="Enter password" />
      <button type="submit">Submit</button>
    </form>
  </div>
</section>
{% endblock %}
