{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<section>
  <form class="form-horizontal" method="post" action="/event/{{ event.id }}/edit" enctype="multipart/form-data">
    <div class="row">
      <div class="col-lg-4">
        <label for="event_name">Event Name</label>
        <input type="text" class="form-control" name="name" value="{{ event.name }}">
      </div>
      <div class="col-lg-4">
        <label for="event_date">Event Date</label>
        <input type="date" class="form-control" name="event_date" value="{{ event.event_date | date('Y-m-d') }}">
      </div>
      <div class="col-lg-4">
        <label for="max_tickets">Maximum Tickets</label>
        <input type="number" class="form-control" name="max_tickets" value="{{ event.max_tickets }}">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4">
        <label for="address">Event Address</label>
        <input type="text" class="form-control" name="address" value="{{ event.address }}">
      </div>
      <div class="col-lg-4">
        <label for="city_state_zip">City, State Zip</label>
        <input type="text" class="form-control" name="city_state_zip" value="{{ event.city_state_zip }}">
      </div>
      <div class="col-lg-4">
        <label for="is_public">Visible to Public</label>
        <select id="is_public" name="is_public" class="form-control">
          {% if event %}
          <option value="{{ event.is_public }}" selected>{{ event.is_public | capitalize }}</option>
          <option value="" disabled>-- --</option>
          {% else %}
          <option value="" disabled selected>-- Visible to Public --</option>
          {% endif %}
          <option value="false">False</option>
          <option value="true">True</option>
        </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-6">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" rows="6">{{ event.description }}</textarea>
      </div>
      <div class="col-lg-6">
        <input type="file" onchange="previewPicture(this)" name="picture" value="">
        <img id="previewImage" src="{{event.image_url}}" alt="" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4">
        <button type="submit" class="btn btn-success">SAVE CHANGES</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-lg-4">
      <input type="text" class="form-control" onkeyup="getStudents()" id="searchStudents" value="" placeholder="Search by Name or Student ID" autofocus>
    </div>
    <div class="col-lg-2">
      <a href="/event/{{ eventId }}/ticketExport"><button type="button" class="btn btn-warning">Backup Tickets</button></a>
    </div>
  </div>
  <br />
  <div class="table-responsive">
    <table id="students" class="table table-striped">

    </table>
  </div>
</section>
  <div class="modal" id="guest_modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h4 class="modal-title">Edit Guest</h4>
        </div>
        <div class="modal-body">
          <form method="POST" id="guest_edit">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" id="guest_first" placeholder="First"/>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="guest_last" placeholder="Last"/>
              </div>
            </div>
            <br />
            <div class="col-lg-offset-5">
              <button type="submit" class="update btn btn-success">UPDATE</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" onclick="getStudents()" class="btn btn-default" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
  </div>
<script>
  var eventId = {{eventId}};
</script>
{% endblock %}
