{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<!-- if logged in, show sell and redeem buttons -->
  <!-- sell route: /event/:eventId/sale_start -->
  <!-- create redeem route -->
<!-- if logged in as admin, show edit and delete buttons also -->
  <!-- edit route: /event/:eventId/edit -->
  <!-- delete route: ajax to delete event -->
  <section>
      <div class="row">
        <div class="well well-lg">
          <div class="media">
            <div class="media-left media-top">
              <img class="media-object" src="{{ event.image_url }}" alt="event_image">
            </div>
            <div class="media-body">
              <h2 class="media-heading">{{ event.name }}</h2>
              {% autoescape false %}
              <h4 class="media-heading">{{ event.description }}</h4>
              {% endautoescape %}
              <address>
                {{ event.address }}<br />
                {{ event.city_state_zip }}
              </address>
              <div>
                <h4>{{ tickets_bought }} tickets bought of {{ event.max_tickets }}</h4>
              </div>
              {% if user.school_id == event.school_id %}
                <a href="/event/{{ event.id }}/sale_start" class="btn btn-lg btn-success">Sell Tickets</a>
                <a href="/event/{{ event.id }}/redeem/" class="btn btn-lg btn-primary">Redeem Tickets</a>
                {% if user.is_admin %}
                  <a href="/event/{{ event.id }}/edit" class="btn btn-lg btn-info">Edit Event</a>
                  <a href="/event/{{ event.id }}/delete" class="btn btn-lg btn-danger">Delete Event</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  </section>

{% endblock %}
