{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <article class="home-image">
      <img src="{{ image }}" alt="" />
    </article>
    <main id="upcoming-events">

        {% for event in events %}
        <section>
          <ul>
            <li><h3>{{ event.name }}</h3></li>
            <li><h4>{{ event.event_date|date('m-d-Y') }}</h4></li>
            <li><h4>{{ event.address }}, {{ event.city_state_zip }}</h4></li>
          </ul>
          <p>{{ event.description }}</p>
        </section>

        {% endfor %}

    </main>
  </div>

{% endblock %}
