{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="padding-top">
    <section>
      {% for message in messages %}
        <div class="alert alert-{{ message.status }}">
          {{ message.value }}
        </div>
      {% endfor %}
    </section>
  </div>
  <div class="container">
    <h1>{{ title }}</h1>
    <div class="jumbotron" style="background-image: url({{ image }})">

    </div>
    <main id="upcoming-events">
      <table class="table table-hover">
        <thead>
          <th>
            Event Name
          </th>
          <th>
            Date
          </th>
          <th>
            Address
          </th>
          <th>
            Description
          </th>
          <th>
            TicketsSold/Max
          </th>
        </thead>
        <tbody>
        {% for event in events %}
        {% if event.is_public || user.school_id == school_id %}
        <tr class="clickable" onclick="document.location = '/event/{{ event.id }}/'">
        {% else %}
        <tr>
        {% endif %}
          <td>
            {{ event.name }}
          </td>
          <td>
            {{ event.event_date | date('m-d-Y') }}
          </td>
          <td>
            {{ event.address }}, {{ event.city_state_zip }}
          </td>
          <td>
            {{ event.description }}
          </td>
          <td>
            {{ event.count }} / {{ event.max_tickets }}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </main>
  </div>

{% endblock %}
