<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-QqZs0aSOGFan3GWVdP4PyCBp6icaF/4n8Q+wsmZUTiiVIqE4r4tFYcb8Osf+8y45" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-modal-bs3patch.css" />
    <link rel="stylesheet" href="/css/bootstrap-modal.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sidebar.css" />
    {% if stylesheet %}
    <link rel="stylesheet" href="/css/{{stylesheet}}">
    {% endif %}
  </head>
  <body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
      <ul class="sidebar-nav" id="sidebar">
        {% if user %}
        <li><a href="/{{ user.school_id }}">Home<span class="sub_icon glyphicon glyphicon-home"></span></a></li>
          {% if user.is_admin %}
            <li><a href="/admin/{{ user.school_id }}/addevents">Add Events<span class="sub_icon glyphicon glyphicon-calendar"></span></a></li>
            <li><a href="/admin/{{ user.school_id }}/addstudents">Add Students<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
            <li><a href="/admin/{{ user.school_id }}/addteachers">Add Teachers<span class="sub_icon glyphicon glyphicon-apple"></span></a></li>
          {% endif %}
        <li><a href="/logout?redirect={{ user.school_id }}">Log Out<span class="sub_icon glyphicon glyphicon-log-out"></span></a></li>
        {% else %}
        <form action="/login" method="POST">
          <li><input type="text" name="email" class="form-control form-control2" placeholder="Email Address"></li>
          <li><input type="password" name="password" class="form-control form-control2" placeholder="Password"></li>
          <li class="centered-button"><button type="submit" class="btn btn-info btn-small">Log In</button></li>
        </form>
        {% endif %}
      </ul>
    </div>
  </div>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-modalmanager.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/bootbox.js"></script>
    {% if script %}
    <script type="text/javascript" src="/js/{{script}}"></script>
    {% endif %}
  </body>
</html>
