{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<!-- /events/:eventId/sale_start -->
  <div class="container">

    <main>
      <h3>{{ event_max_tix }} tickets left for this event</h3> <!-- query event.max_tix -->
      <form class="student-id" action="/event/{{ eventId }}/sales/" method="get">
        <input type="text" name="studentId" placeholder="student id">
        <input type="submit" value="GO">
      </form>
    </main>
    <!-- <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h3>Modal Body</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-lg btn-success"
   data-toggle="modal"
   data-target="#basicModal">Click to open Modal</a> -->
  </div>

{% endblock %}
