{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}

<div class="container">

  <h1>{{ title }}</h1>
  <article>
    <section>
      <h3>{{ student.name }} bought {{ tickets }}</h3>
      <h3>{{ event_max_tix }} tickets left</h3> <!-- query event.max_tix -->
    </section>
    <section>
      <button type="button" id="addGuest">Add Guest</button>
    </section>
    <section id="guestsSection">

    </section>
      <a href="/event/{{ eventId }}/sale_start"><button type="button">Make another Sale</button></a>
  </article>
  <script>
    var eventId = {{ eventId }};
    var studentId = {{ studentId }};
  </script>
</div>

{% endblock %}
