{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  <div class="padding-top">
    <section>
      {% for message in messages %}
        <div class="alert alert-{{ message.status }}">
          {{ message.value }}
        </div>
      {% endfor %}
    </section>
  </div>
<!-- /events/:eventId/sale_start -->
  <div class="container">
<!-- query event.max_tix -->
    <main>
      <form class="student-id" action="/event/{{ eventId }}/sales/" method="get">
        <legend>{{ ticketsRemaining }} tickets left for this event</legend>
        <input type="text" class="form-control input-lg" name="studentId" placeholder="student id" required autofocus>
      <br>
        <a href="#"><button id='go' type="submit" class="btn btn-success btn-lg">GO</button></a>
      </form>
    </main>

  </div>

{% endblock %}
