{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}

<div class="container">

  <h1>{{ title }}</h1>
  <section>
    <section>
      <h3>{{ name }} bought <span id="ticket_count">0</span> tickets </h3>
    </section>
    <section>
      <button type="button" id="addGuest">Add Guest</button>
    </section>
    <section id="guestsSection">

    </section>
    <section>
      <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                      <h3>Modal Body</h3>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
              </div>
          </div>
        </div>
      </div>

      <a href="#" class="btn btn-lg btn-success"
     data-toggle="modal"
     data-target="#basicModal">Click to open Modal</a>

    </section>
    <section>
      <h3>Tickets not bought: {{ not_bought }}</h3>
    </section>
    <button id="makeSale">Make Sale</button>
      <a href="/event/{{ eventId }}/sale_start"><button>Start New Sale</button></a>
  </section>
  <script>
    var eventId = {{ eventId }};
    var studentId = {{ studentId }};
  </script>
</div>

{% endblock %}
