{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<!-- /events/:eventId/sale_start -->
  <div class="container">
<!-- query event.max_tix -->
    <main>
      <form class="student-id" action="/event/{{ eventId }}/sales/" method="get">
        <legend>{{ ticketsRemaining }} tickets left for this event</legend>
        <input type="text" name="studentId" placeholder="student id" required autofocus>
      <br>
        <a href="#"><button id='go' type="submit" class="btn btn-success">GO</button></a>
      </form>
    </main>

  </div>

{% endblock %}
