{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}

<div class="outer">


<main>
  <!-- bought -->
    <section id="bought">
      <h1>{{ name }} bought <span id="ticket_count">0</span> tickets </h1>
    <br>
      <div class="table-responsive">
          <table id="ticketNumbers" class="table table-striped">
            <thead id="head">

            </thead>
            <tbody id="body">

            </tbody>

          </table>
      </div>
    </section>
    <!-- guests -->
    <section id="guests">
      <h2>Guests</h2>
    <br>
        <div id="guestsSection">

        </div>
    </section>
<br>
<!-- modal -->
      <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="myModalLabel"><strong>Add Guest</strong></h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="first_name" required>First Name</label>
                      <br>
                        <input type="text" id="guestFirstName" class="form-control" placeholder="First">
                      <br>
                        <label for="last_name">Last Name</label>
                      <br>
                        <input type="text" id="guestLastName" class="form-control" placeholder="Last">
                      <br>
                        <label for="guestSchool">Guest's School</label>
                      <br>
                        <input type="text" id="guestSchool" class="form-control" placeholder="School">
                      <br>
                        <button id="doAddGuest" class="btn btn-lg btn-success" type="submit" data-dismiss="modal">Add Guest</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
</main>
<br>
  <footer id="buttons">
      <button data-toggle="modal"
     data-target="#basicModal" class="btn btn-lg btn-info">Add Guest</button>

    <button id="makeSale" class="btn btn-lg btn-info">Add {{ name }}'s ticket</button>

      <a href="/event/{{ eventId }}/sale_start"><button class="btn btn-lg btn-default">Start New Sale</button></a>
  </footer>

  <script>
    var eventId = {{ eventId }} ;
    var studentId = {{ studentId }} ;
    var count = {{ count }} ;
  </script>
</div>
{% endblock %}
