{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<form class="" action="/uploads/parsed" method="post">
  <input type="checkbox" name="headers" value="">My data has headers
  <table>
    <tr>
      {% for column in columns %}
        <td>
          <select class="" name="column">
            <option value="firstname">First Name</option>
            <option value="middlei">Middle Name</option>
            <option value="lastname">Last Name</option>
            <option value="studentid">Student ID</option>
            <option value="grade">Grade</option>
          </select>
        </td>
      {% endfor %}
    </tr>
    {% for line in lines %}
    <tr>
      {% for column in line %}
        <td>
          {{column}}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <input type="submit" name="name" value="Submit">
</form>
