body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  padding-left: 75px;
  padding-top: 25px;
  padding-right: 25px;
}


.jumbotron {
  height: 350px;
  width: 100%;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.clickable {
  cursor: pointer;
}

.padding-top {
  padding-top: 10px;
}

.centered {
  margin: 0 auto;
  display: block;
}
