#status {
  position: fixed;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -150px;
  background: white;
  display: none;
}
#status label {
  display: block;
}
#status input {
  display: block;
}
#guestsSection {
  width: 200px;
  height: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 3px;
}
#guestsSection div {
  height: 75px;
  padding: 5px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-bottom: 10px;
}
